.myPic {
  height: 450px;
  width: 375px;
  margin: 5rem;
}

.about-container {
  background-color: black;
  color: #fff;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100vh;
}

.aboutMe {
  text-align: left;
}

p {
  line-height: 1.6;
}
