@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'about';

body {
  background-color: $favColor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(231, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, black, transparent);
  z-index: 30;
}


.front {
  position: absolute;
  bottom: -95px;
  width: 1775px;
  right: 0;
  z-index: 20;
}

.side {
  position: absolute;
  bottom: 90px;
  width: 1550px;
  left: 0;
  z-index: 18;
}

.mountain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 17;
}

.greeting {
  position: absolute;
  top: 20%;
  left: 12%;
  font-size: 6rem;
  z-index: 18;
  color: #fff;
  // transform: translate(-50%, -50%)
}

.name {
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 6rem;
  z-index: 19;
  color: #fff;
  // transform: translate(-50%, -50%)
}

.navigation {
  background: linear-gradient(to top, rgb(231, 230, 230), transparent);
}

#arrowIcon {
  color: white;
  position: absolute;
  top: 85%;
  z-index: 21;
}

#iconPic {
  height: 75px;
  width: 75px;
}

#tech-container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
