@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'about';
@import 'projects';

body {
  background-color: $favColor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('../assets/mountain2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // background-color: rgb(231, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 168px;
  background: black;
  z-index: 15;
}


.front {
  position: absolute;
  bottom: -93px;
  width: 1775px;
  right: -9.5%;
  z-index: 20;
}

.side {
  position: absolute;
  bottom: 80px;
  width: 1550px;
  left: 0;
  z-index: 18;
}

// .mountain1 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 50%;
//   object-fit: cover;
//   z-index: 17;
// }

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  z-index: 21;
  color: #fff;
  transform: translate(-50%, -50%)
}

// .name {
//   position: absolute;
//   top: 20%;
//   left: 35%;
//   font-size: 6rem;
//   z-index: 19;
//   color: #fff;
//   // transform: translate(-50%, -50%)
// }

.scroll-img1 {
  background-image: url('../assets/desertPic.jpg');
  min-height: 400px;
}

.scroll-img2 {
  background-image: url('../assets/snowPic.jpg');
  min-height: 400px;
}

.scroll-img1, .scroll-img2 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation {
  background: linear-gradient(to top, rgb(230, 230, 231), transparent);
}

#arrowIcon {
  color: white;
  position: absolute;
  top: 85%;
  z-index: 21;
}

#iconPic {
  height: 100px;
  width: 100px;
}

#tech {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, black, transparent);
}

#footer {
  background-color: black;
  color: white;
  min-height: 100%;
}

.open-contact-btn {
  height: 40px;
}
